<h3>Dinosaur Type: <%= @product.title %></a></h3>
<p><strong>Description: </strong><%= @product.description %></p>
<% @images.each do |image| %>
  <img src="<%= image.link %>">
<% end %>
<p><strong>Quantity: </strong><%= @product.quantity %></p>
<p><strong>Supplied by: </strong><%= @product.supplier.name %></p>
<p><strong>Product ID: </strong><%= @product.id %></p>
<p><strong>Price: </strong><%= number_to_currency(@product.price) %></p>
<h5><%= @product.sale_message %></h5>
<p>&nbsp</p>
<p>Tax: <%= number_to_currency(@product.tax) %></p>
<h4>Total: <%= number_to_currency(@product.total) %></h4>
<p>&nbsp</p>

<% if user_signed_in? %></div>
  <h3>Buy this dinosaur:</h3>
  <%= form_tag "/orders", method: :post do %>
    <div class="form-group">
      <%= hidden_field_tag :product_id, @product.id %>
    </div>
    <div class="form-group">
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity, nil, class: "form-control" %>
    </div>
    <div>
      <%= button_tag 'Buy now!', class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>

<p>&nbsp</p>
<p>&nbsp</p>
<a class="btn btn-default" href="/products/<%= @product.id %>/edit">Edit this dinosaur</a>
<div><%= button_to "Delete this dinosaur", "/products/#{@product.id}", method: :delete, class: "btn btn-default" %></div>
<a class="btn btn-default" href="/products">View current inventory</a>


