<h3>Dinosaur Type: <%= @product.title %></a></h3>
<p><strong>Description: </strong><%= @product.description %></p>
<p><strong>Price: </strong><%= @product.price %></p>
<p><strong>Quantity: </strong><%= @product.quantity %></p>
<p>&nbsp</p>
<div><%= link_to "Edit this dinosaur", "/products/#{@product.id}/edit" %></div>
<div><%= link_to "Delete this dinosaur", "/products/#{@product.id}", method: :delete %></div>
<div><%= link_to "View current inventory", "/products" %></div>