｀｀
<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "MiniCapstone" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <nav>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/products">DINOSAURS</a>
        </div>
        <div class="collapse navbar-collapse" id="  ">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/products">Inventory<span class="sr-only">(current)</span></a></li>
            <li><a href="/products/new">Add New</a></li>
            <li><a href="/products?sort_by=price">Discount Items!</a></li>
            <li><a href="/products/random">Random Dino</a></li>
            <li><a href="/images/new">Add New Images</a></li>
            <li><form class="navbar-form" role="search">
              <%= form_tag "/products/search", method: :post do %>
                <div class="form-group">
                  <%= text_field_tag :name, nil, placeholder: "Search by Name", class: "form-control" %>
                </div>
                <%= button_tag 'Submit', class: "btn btn-default" %>
              <% end %>
            </form></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Links<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/sign_up">Sign Up</a></li>
                <li><a href="/users/sign_in">Sign In</a></li>
                <li><%= link_to "Sign Out", "/users/sign_out", method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</head>
<body>

<div class="container">
  <div>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
